backports.statistics==0.1.0
beautifulsoup4==4.11.1
Cython==0.29.32
dl==0.1.0
ipaddr==2.2.0
keyring==18.0.1
more_itertools==8.13.0
mypy_extensions==0.4.3
numpy==1.23.1
ordereddict==1.1
praw==7.6.0
python-dotenv==0.20.0
requests
schedule==1.1.0
tweepy==4.10.0
